.tnptitle{
  font-family:font3;
  letter-spacing:3px;
  word-spacing:6px;
  font-size:42px;
  padding: 2px;color:#fff;
}

.tnpsmtitle{
  font-family:font3;
  letter-spacing:3px;
  word-spacing:6px;
  font-size:42px;
  padding: 2px;color:#fff;
}
.white-bg{
    background:#ffffff !important;
}

.white-color{
  color: #fff !important; 
}

.lightblue-bg{
  background-color: #16bdf4;
}

.site-logo{
  float:left; 
  display:inline-block;
  position:relative;
  top:-15px;
}

.clg-name{
  font-family:font1;
  font-size:32px; 
  color:#08387f;
  padding:2px;
}

.clg-address{
  margin-left:80px;
  font-size:20px;
  top:-15px; 
  color:#777777;
  font-weight:bold;
}

.nav-subitem{
  border-bottom-style: solid;
  border-bottom-color: #08387f;
  border-bottom-width:thin;
  font-family: &#39,Open Sans, sans-serif;
  font-size:16px;
}

.footer-things{
  font-size:20px; 
  margin-left:40px;
}
.footer-menu-item{
  text-decoration:none;
  color:#fff;
}

.footer-clgtext{
  font-size:16px;color:#fff; 
  font:Arial, Helvetica, sans-serif;
}



 .box{
 width:255px; margin-left:10px;
-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 1);
box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 1);
background-color: #dadada;
float:left 
 }

.box a{
    position: relative;
  z-index: 1;
}
        
        .bar {
  margin: 5px;
  text-align: center;
  color: #FFF;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.25);
  line-height: 5em;
  position: relative;
  height: 5em;
  width: 200px;
  background: rgba(0,0,0,0.2);
  border-top: 1px solid rgba(250,253,255,0.2);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.bar:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0; right: 0; left: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.bar:hover { box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
 background: rgba(0,0,0,0.3); }

    .dropdown:hover .dropdown-menu {
display: block;

}

.dropdown:hover .dropdown-menu {
display: block;
background-color: #08387f;
        
}

     .dropdown-menu > li > a{
        color:#fff;
    }   
    
    
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-image:none !important;
        }
        .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-color:#fff;
            color:#08387f;
            
        }    
    @font-face {
        font-family: font1;
        src: url('main/pt/PTC55F.ttf');
    }
    
    @font-face {
        font-family: font2;
        src: url('main/fonts/dance.ttf');
    }
    
    @font-face {
        font-family: font3;
        src: url('main/fonts/franchise/Franchise-Free-Bold.ttf');
    }