 
    @font-face {
      font-family: 'font3';
      src: url('/fonts/Simpleness.otf');
    }

    @font-face {
      font-family: 'font4';
      src: url('/fonts/Carten.otf');
    }

.tnpmoto{
  font-family: 'font4';
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 36px;
  font-style: italic;
}

.tnptitle{
  font-family: 'font3';
  letter-spacing:3px;
  word-spacing:6px;
  font-size:34px;
  padding: 2px;color:#fff;
}
.text-capitalize{
      text-transform: capitalize;
}
.tnpsmtitle{
  font-family:font3;
  letter-spacing:3px;
  word-spacing:6px;
  font-size:42px;
  padding: 2px;color:#fff;
}
.white-bg{
    background:#ffffff !important;
}

.paper-bg{
  background: #F4F3EF !important;
}
.white-color{
  color: #fff !important; 
}

.blue-bg{
  background-color: #002147;
}

.site-logo{
  float:left; 
  display:inline-block;
  position:relative;
  top:-15px;
}

.clg-name{
  font-family:font1;
  font-size:32px; 
  color:#08387f;
  padding:2px;
}

.clg-address{
  margin-left:80px;
  font-size:20px;
  top:-15px; 
  color:#777777;
  font-weight:bold;
}



 .box{
 width:255px; margin-left:10px;
-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 1);
box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 1);
background-color: #dadada;
float:left 
 }

.box a{
    position: relative;
  z-index: 1;
}
        
        .bar {
  margin: 5px;
  text-align: center;
  color: #FFF;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.25);
  line-height: 5em;
  position: relative;
  height: 5em;
  width: 200px;
  background: rgba(0,0,0,0.2);
  border-top: 1px solid rgba(250,253,255,0.2);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.bar:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0; right: 0; left: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.bar:hover { box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
 background: rgba(0,0,0,0.3); }

    .dropdown:hover .dropdown-menu {
display: block;

}

   
    @font-face {
        font-family: font1;
        src: url('/fonts/Metropolis-Regular.otf');
    }
    
    @font-face {
        font-family: font2;
        src: url('main/fonts/dance.ttf');
    }