/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
@font-face {
    font-family: 'texgyreadventorregular';
    src: url('../fonts/texgyreadventor-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
     font-family: 'open_sansregular';
      src:url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
}
/* start footer */

.footer-things{
  font-size:20px; 
  margin-left:40px;
}
.footer-menu-item{
  text-decoration:none;
  color:#fff;
}

.footer-clgtext{
  font-size:16px;color:#fff; 
  font:Arial, Helvetica, sans-serif;
}
.footer{
	padding: 4%;
	margin-bottom: 0px;
}
.copy p{
	color: #3b3b3b;
	font-size: 14px;
	line-height: 1.8em;
}
.copy p a{
	color:#ff5454;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.copy p a:hover{
	color: #3b3b3b;
	text-decoration: none;
}
body {
	background:#ffffff;
	overflow-x: hidden;
	min-height:500px;
}

.sapecer1{
	margin-top: 10px;
}

.spacer2{
	margin-top: 20px;
}

/* menu */
.h_menu{
	padding: 0;
	background: #0fa5d9;
}


.navbar {
	position: relative;
	margin-bottom: 0px;
	border: none;
    
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background: #0fa5d9;
	color: #fff;
}

.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover{
	background: #08387f;
	color: #ffffff;
    
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
/*	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
 */   
}




.nav > li {
	border-right: 1px solid #fff ;
   
}

.nav .open, .nav .open .dropdown-menu{
	background-color: #08387f;
	color: #fff;
}
.nav > li > a {
		font-size: 13px;
		text-transform: uppercase;

}

@media (min-width: 768px){

	
		.navbar-nav > li > a {
			    padding-top: 20px;
			    padding-bottom: 20px;
		  }

		  .nav > li > a {
					font-size: 13px;
					padding: 20px 30px;
					text-transform: uppercase;

			}

}

.nav-subitem{
  border-bottom-style: solid;
  border-bottom-color: #08387f;
  border-bottom-width:thin;
  font-family: &#39,Open Sans, sans-serif;
  font-size:16px;
}

.dropdown:hover .dropdown-menu {
display: block;
background-color: #08387f;
        
}

.dropdown-menu > li > a{
color:#fff;
}   


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-image:none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color:#fff;
    color:#08387f;
    
} 



/* start soc_icons */
.soc_icons {

}
.soc_icons ul{
	margin-bottom: 0;

}
.soc_icons ul li{
	display:inline-block;
	border-left: 1px solid #0fa5d9;
    <!--rgb(39, 37, 37)-->
	margin-left: -3px;

}
.soc_icons ul li a{
	color:#ffffff;
	font-size: 24px;
	display: block;
	line-height: 60px;
	width: 60px;
	height: 60px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

}
.soc_icons ul li a:hover{
	background: #08387f;

}
/* start slider */
.slider_bg{
	background: url('../images/slider_bg.jpg') no-repeat;
	background-size: 100%;
}
.slider{
	padding: 4%;
}


.img-center {
		margin: 0 auto;
		width: 200px;
		height: 200px;
}
.bg_box p{
	font-family: 'Dosis';
	font-weight: bold;
	font-size: 20px;
}

.bg_box{
    background-color: #fff;
    padding: 5px;
    transition: all .2s ease-in-out;
}

.bg_box:hover{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari */
    transform: scale(1.05); /* Standard syntax */
}

.bg_box a{
    color: black;
    text-decoration: none;
}
.bg_box a:hover{
    text-decoration: none;

}

.spacing{
    padding: 20px;
}
